/* basic styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  background-color: beige;
}

.piece {
  outline: 0.5px solid grey;
}

img {
  display: none;
}