/* basic styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 100px 200px 200px 200px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}


.dropzone {
  border: 1px black solid;
}

#container {
  display: grid;
  background-color: beige;
  margin: 50px 0 0 0;
}

.piece {
  outline: 0.5px solid grey;
}

img {
  display: none;
}

#inputSrc {
  max-width: 200px;
  margin: 10px 10px 0 0;
}

#inputX,
#inputY {
  max-width: 30px;
  margin: 10px 10px 0 0;
}